# Secret files
env.yaml

# Binary files
main
mockery

# Go workspace file
go.work
go.work.sum

# MacOS files
.DS_Store

# Text editor files
.vscode
.idea

__debug_bin*

jupyterlab-provider-secret-key.json
.air.toml
tmp

.idea